/* base 스타일 */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset{
  border: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;
}

/* 숨김 컨텐츠 */
.a11yHidden{
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 전체 컨테이너 */
.login__container {
  width: 15.25rem;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  border-radius: 0.3125rem;
  padding: 0.75rem;
  margin: 10px;
  box-shadow: 5px 5px 0px #AAA;
}


/* 제목 */
.login__title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: yellow;
  line-height: 1.40625rem;
}

/* 로그인 폼과 링크 */
.loginWrapper {
  background: #fff;
  border-radius: 0.3125rem;
  padding: 0.5rem;
  margin-top: 8px;
}

/* 로그인 폼 */
.loginForm {
  position: relative;
  margin-bottom: 8px;
}

.input__wrapper {
  font-size: 0;
}

.formInput__lable {
  display: inline-block;
  font-size: 0.875rem;
  width: 3.5rem;
}

.formInput__input {
  width: 5.625rem;
  height: 1.5rem;
  border: 1px solid #CCC;
  border-radius: 0.3125rem;
  padding: 1.5px 0px 1.5px 8px;
  margin-bottom: 0.25rem;
}

/* 로그인 버튼 */
.button__loginSubmit {
  font-size: 0.8125rem;
  line-height: 1.21875rem;
  color: #fff;
  background: #ED552F;
  width: 3.125rem;
  height: 3.3125rem;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.3125rem;
  position: absolute;
  top: 0;
  right: 0;
}

/* 회원가입, 로그인 링크 */
.memberOnly {
  font-size: 0.8125rem;
  height: 2.25rem;
  line-height: 1.75rem;
  list-style: none;
  padding: 4px 8px;
  display: flow-root;
  border-top: 1px solid #CCC;
}

.memberOnly li {
  margin: 4px 0 4px 0;
}

.memberOnly li:first-child {
  float: left;
}

.memberOnly li:last-child {
  float: right;
}